global:
{
  #Output prefix. Output will be in prefix_<node ID>.<fits/txt>
  prefix_out= "out";
  #Output format. Select HDF5, FITS or ASCII
  output_format= "FITS";
  #Output Gaussian overdensity field at z=0?
  output_density= false
  #Path to power spectrum at z=0. Power spectrum file must
  #be in CAMB format: k (h/Mpc), P(k) (Mpc/h)^3.
  pk_filename= "data/classgal_pk_z0.dat"
  #This redshift range also defines the size of the box
  z_min= 0.001
  z_max= 0.55
  #RNG seed note that output will depend on number of nodes, etc not only
  #on the RNG seed
  _SEED_
  write_pred=false
  pred_dz=0.1
}

field_par:
{
  #Extra Gaussian smoothing scale [Mpc/h] (set to a
  #negative value if you don't want any smoothing)
  r_smooth= 4.
  #Do you want to smooth the Newtonian potential as well?
  smooth_potential= true
  #Will use a Cartesian grid with n_grid^3 cells
  _N_GRID_
  #Density field type
  # 0-lognormal
  # 1-1LPT
  # 2-1LPT
  _DENS_TYPE_
  #If dens_type==1 or 2, buffer size (fraction per particle)
  lpt_buffer_fraction= 0.6
  #If dens_type==1 or 2, scheme to interpolate particle
  #positions into a grid
  # 0-NGP
  # 1-CIC
  # 2-TSC
  lpt_interp_type= 2
  #Set to 1 if you want to output the LPT particle positions
  output_lpt= 0
}

cosmo_par:
{
  #Non-relativistic matter
  omega_M= 0.3065
  #Dark energy
  omega_L= 0.6935
  #Baryons
  omega_B= 0.0483
  #Hubble parameter (in units of 100 km/s/Mpc)
  h= 0.679
  #Dark energy equation of state
  w= -1.0
  #Primordial scalar spectral index, used only to extrapolate
  #P(k) at low k end (-3 used at high k end)
  ns= 1
  #Power spectrum normalization. The input power spectrum will be
  #renormalized to this sigma8
  sigma_8= 0.854664
}

#For each galaxy population, create a section called srcsX, starting with X=1
srcs1:
{
  #Path to N(z) file. Should contain two columns
  # 1-> z, 2-> dN(z)/dz*dOmega
  # with dN/dzdOmega in units of deg^-2
  # Include one name per population, separated by spaces
  nz_filename= "test_files/Nz_500.txt"
  #Path to bias file. Should contain two columns
  # 1-> z, 2-> b(z)
  # Include one name per population, separated by spaces
  bias_filename= "test_files/Bz_test.txt"
  #Do you want to include shear ellipticities?
  include_shear= false
}
